// colors
$mainPageBackground: #0c0c0c;
$sidebarBackground: #262628;
$liHoverAInputColor: #4c4c50;
$iconBackground: #4d4d52;
$placeholderColor: #a0a0a4;
$iconActive: #1d77e7;
$colorWhite: #dbdada;
$blueColor: #0f61ea;
$prevNextHover: #616166;

// transition
$trans: 0.3s;
